{% extends 'app_base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-lg-10 mx-lg-auto mx-md-auto">
            {{ wtf.quick_form(form) }}
            <table class="table table-sm">
                <thead>
                    <th>Subject</th>
                    <th>Facts</th>
                    <th>Style</th>
                    <th>Date</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </thead>
                <tbody>
                    {% for post in posts %}
                    <tr>
                        <td>{{post.subject}}</td>
                        <td>{{post.facts}}</td>
                        <td>{{post.style}}</td>
                        <td>{{post.post_date}}</td>
                        <td><a href="post/{{ post._id}}">✍️</a></td>
                        <td><a href="delete/{{ post._id}}">🚪</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}